@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

/*.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}
*/

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(245, 244, 244);
}

#menu{
    height: 200px;
    display:flex;
    padding: 0px;
    margin: 0px 30px;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
}

.logo{
    width: 180px;
    margin: 20px 200px 20px 20px;
    }



ul li {
    display: inline-block;
    padding: 20px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ol li {
    display: inline-block;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


a {
    color: black;
    font-size: 16px;
    text-decoration:none;
    position: relative;
    transition: 0.5s;
}


a:hover{
    padding: 5px 0px;
    font-size: 18px;
    background: #FAB12B;
    color:black;
    border-radius: 50PX;
}

#caja-iconos{
    display: flex;
    height: 27px;
    align-items: center;
    margin: 30px 0px 30px 200px;
    padding: 10px;
    background: #FAB12B;
    border-radius: 300px;
}

.iconos{
    height: 25px;
    padding: 10px;
}

.iconos:hover{
    padding: 10px;
    background: rgb(245, 244, 244);
    border-radius: 150PX;
}

#contenedor-productos{
    display:flex;
    padding: 0px 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

.caja-textoProductos{
    margin: 5px;
    padding: 15px;
    text-align: justify;
    width: 600px;
}

.caja-textoProductos2{
    margin: 5px;
    padding: 15px;
    text-align: justify;
    width: 600px;
    background: #f8e8c9;
    border-radius: 35px;
}


.caja-fotosProductos{
    margin: 5px;
    padding: 15px;
    width: 500px;
    text-align: center;
}

.foto-principal{
    width: 450px;
    height: 320px;
    border-radius: 15px;
}

.foto-secundaria{
    width: 147px;
    height: 120px;
    border-radius: 15px;
}

.campo-input{
    position: relative;
  }
  
  .campo-input input{
    margin: 0px 180px;
    padding: 0px 25px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid #BB2925;
    background: rgb(245, 244, 244);
    color: black;
    outline: none;
  }
  
  .campo-input label{
    margin: 0px 180px;
    padding: 0px 5px 0px 2px;
    background: rgb(245, 244, 244);
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-55%);
    color: black;
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
  }
  
  input:focus ~label{
    top: 0;
    left: 5px;
    font-size: 16px;
    padding: 0px 2px;
    background: rgb(245, 244, 244);
  }
  
  .anadir-producto{
    margin: 7px 110px;
    padding: 5px 05px;
    width: 140px;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background: #BB2925;
    color: rgb(245, 244, 244);
    border-radius: 5px;
    border:#BB2925;
  }
  
  .anadir-producto:hover{
    width: 145px;
    height: 40px;
    font-size: 15px;
    text-align: center;
  }

#caja-footer{
    display:flex;
    margin: 0px 0px 0px;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #f8e8c9;
  }
  
  .contenedor-footer{
    margin: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .contenedor-footer2{
    margin: 10px;
    padding: 20px;
    width: 200px;
  }
  
  .textos-footer{
    padding: 5px;
    margin: 0px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: black;
  }
  
  .textos-footer:hover{
    font-size: 16.5px;
    color: #BB2925;
  }

.press{
    padding: 5px 5px;
    font-size: 18px;
    background: #FAB12B;
    color:black;
    border-radius: 50PX;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  position: relative;
  text-align: center;
  padding: 10px;
  background: #BB2925;
  color: rgb(245, 244, 244);
  border-radius: 50px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  
}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

label{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

input{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}